.edit{
    margin-top: 50px;
}

.image{
    padding-left: 100px;
}


/*borders above navigation bar & above footer*/
hr{
    width: 80%;
    border-color: rgb(0, 115, 153);
}

/*csumb icon*/
footer img{
    width: 10%;
    height: 10%;
    padding: 2px;
    border: 1px rgb(0, 115, 153) solid;
}

/*puts everything in the footer at the center*/
footer{
    text-align: center;
}